* {
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(89, 47, 180);
}

.container {
    background-color:rgb(115, 0, 255)
    margin: 0 auto;

}

.tepa-qism {
    display: flex;
    align-items: center;
    margin: 0 auto;

}

#chek1 {
    margin-left: 1000px;
    height: 30px;
    border-radius: 5px;

}

#chek2 {
    height: 30px;
    border-radius: 5px;
}

.h2{
    color: #fff;
}